<nav class="navbar sticky-top navbar-expand-lg bg-white rounded-1 border border-2 border-dark text-dark">
    <div class="container-fluid">
      <a class="navbar-brand col-8 p-1" href="#">Manga</a>
      <div class="container text-start col">
          <div class="row">
              <a class="nav-link col fs-6" href="#">Catálogo</a>
              <a class="nav-link col fs-6" href="#">Proximamente</a>
              <a class="nav-link col text-end p-right-1" aria-disabled="true">##</a>
          </div>
      </div>
    </div>
</nav>