<div class="container-lg mt-2 border border-2 border-dark rounded-1 px-3">
    <search-bar></search-bar>
    <hr>
    <div class="container-fluid">
        <div class="row row-cols-6 justify-content-betweend mt-2">
            <cards class="col mb-2"></cards>
            <cards class="col"></cards>
            <cards class="col"></cards>
            <cards class="col"></cards>
            <cards class="col"></cards>
            <cards class="col"></cards>
            <cards class="col"></cards>
            <cards class="col mb-2"></cards>
        </div>
    </div>
</div>